.auth__card{
    height: 50px;
    width: 50px;
    border: 2px solid #65C3BA;
    margin-left: 100px;
    background-color: #41aba1;
    border-radius: 30px;
    -webkit-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.29);
    -moz-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.29);
    box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.29);
    cursor: pointer;
    user-select: none;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.authDropMenu{
    position: absolute;
    padding: 10px;
    top: 53px;
    right: -40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 1px solid #e9d8d8;
    border-right: 1px solid #e9d8d8;
    border-left: 1px solid #e9d8d8;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
.auth__card_photo{
    margin-left: 2px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color:#FF6378;
    margin: auto;
}
.auth__card_login,.auth__card_logout{
    width: 200px;
    display: flex;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 10px;
}
.auth__card_logout{
    padding-top: 10px;
    border-top: 1px solid #e9d8d8;
}
.auth__card_login,.auth__card_logout img{
    width: 26px;
    height: 26px;
}
.auth__card_login div,.auth__card_logout div{
    margin-left: 20px;
}
.auth__card_signIn{
    height: 40px;
    width: 80px;
    border: 2px solid #65C3BA;
    border-radius: 30px;
    margin-left: 100px;
    -webkit-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.29);
    -moz-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.29);
    box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.29);
    cursor: pointer;
    user-select: none;
    color: white;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 1.5px;
}
.auth__card_signIn:active{
    height: 39px;
}
