.addNewPost{
   width: 100%;
   height: 235px;
   background-color: rgb(137, 104, 207);
}
// .addNewPost__textarea{

// }
// .addNewPost__textarea-addSmile{

// }
// .addNewPost__textarea-addPicture{

// }
// .addNewPost__addPostBtn{

// }
